body{
    /* background-color: purple; */
    /* padding: 50px; */
}
#container{
    background-color: pink;
    border: solid 5px;
    border-radius: 40px;
    padding-top: 20px;
    
}
#navbar{
    display: flex;
    gap: 100px;
    padding:30px;
}
#lan-page{
    display: flex;
    gap: 50px;
    padding: 40px;
    text-align: left;
    font-size: 30px;
    font-family: 'Arial';
}
img{
    border-radius: 50px;
}
input{
    height: 20px;
    width: 250px;
    border-radius: 15px;
    padding: 10px;
}
button{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

#count{
    display: flex;
    gap: 150px;
    justify-content: center;
    background-color: white;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 20px;
}


.input-icon {
    width: 100%;
    margin-bottom: 10px;
}

.input-icons i {
    position: absolute;
}

.icon {
    padding: 10px;
    color: green;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
}









@media all and (max-width: 1024px) and (min-width: 600px){
    body{
        /* background-color: purple; */
        padding: 20px;
    }
    #container{
        background-color: pink;
        border: solid 5px;
        border-radius: 50px;
        padding-top: 20px;
        
    }
    #navbar{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 10px;
    }
    #lan-page{
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        padding: 10px;
        text-align: left;
        font-size: 20px;
        font-family: 'Arial';
    }
    img{
        border-radius: 25px;
         max-width: 50%;
         height: auto;
    }
    input{
        height: 20px;
        width: 250px;
        border-radius: 15px;
        padding: 10px;
    }
    button{
        background-color: black;
        color: white;
        padding: 10px;
        border-radius: 15px;
    }
    
    #count{
        display: flex;
        gap: 50px;
        justify-content: center;
        background-color: white;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        padding: 20px;
    }
    

}






 @media all and (max-width:600px ) and (min-width: 100px ){

  body{
        /* background-color: purple; */
        padding: 2px;
        justify-content: center;
    }
    #container{
        background-color: pink;
        border: solid 5px;
        border-radius: 50px;
        padding-top: 10px;
        
    }
    #navbar{
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        padding: 10px;
    }
    #lan-page{
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        padding: 10px;
        text-align: left;
        font-size: 12px;
        font-family: 'Arial';
    }
    img{
        border-radius: 25px;
         max-width: 50%;
         height: auto;
    }
    input{
        height: auto;
        width: 60%;
        border-radius: 15px;
        padding: 5px;
    }
    button{
        background-color: black;
        color: white;
        padding: 5px;
        border-radius: 15px;
    }
    
    #count{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        background-color: white;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        padding: 20px;
    }
    

}
 




@media all and (max-width: 1150px) and (min-width:  1025px){
    body{
        /* background-color: purple; */
        padding: 20px;
    }
    #container{
        background-color: pink;
        border: solid 5px;
        border-radius: 50px;
        padding-top: 20px;
        
    }
    #navbar{
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        padding: 10px;
    }
    #lan-page{
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        padding: 10px;
        text-align: left;
        font-size: 20px;
        font-family: 'Arial';
    }
    img{
        border-radius: 25px;
         max-width: 50%;
         height: auto;
    }
    input{
        height: 20px;
        width: 250px;
        border-radius: 15px;
        padding: 10px;
    }
    button{
        background-color: black;
        color: white;
        padding: 10px;
        border-radius: 15px;
    }
    
    #count{
        display: flex;
        gap: 50px;
        justify-content: center;
        background-color: white;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        padding: 20px;
    }
    

}
