body{
    background-color: purple;
    padding: 50px;
}
#container{
    background-color: pink;
    border: solid 5px;
    border-radius: 50px;
    padding-top: 20px;
    
}
#navbar{
    display: flex;
    gap: 100px;
    padding: 15px;
}
#lan-page{
    display: flex;
    gap: 50px;
    padding: 40px;
    text-align: left;
    font-size: 30px;
    font-family: 'Arial';
}
img{
    border-radius: 50px;
}
input{
    height: 20px;
    width: 250px;
    border-radius: 15px;
    padding: 10px;
}
button{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 15px;
}

#count{
    display: flex;
    gap: 150px;
    justify-content: center;
    background-color: white;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 20px;
}










/* @media only screen and (max-width: 1024px) and (min-width: 768px){
    body{
        background-color: purple;
        padding: 25px;
    }
    #container{
        background-color: pink;
        border: solid 5px;
        border-radius: 50px;
        padding-top: 20px;
        
    }
    #navbar{
        display: flex;
        gap: 100px;
        padding: 15px;
    }
    #lan-page{
        display: flex;
        gap: 50px;
        padding: 40px;
        text-align: left;
        font-size: 30px;
        font-family: 'Arial';
    }
    img{
        border-radius: 50px;
    }
    input{
        height: 20px;
        width: 250px;
        border-radius: 15px;
        padding: 10px;
    }
    button{
        background-color: black;
        color: white;
        padding: 10px;
        border-radius: 15px;
    }
    
    #count{
        display: flex;
        gap: 150px;
        justify-content: center;
        background-color: white;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        padding: 20px;
    }
    

} */
